/* Estilos generales del body */
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#868686 1.4500000000000002px, transparent 1.4500000000000002px), radial-gradient(#868686 1.4500000000000002px, #ffffff 1.4500000000000002px);
    background-size: 58px 58px;
    background-position: 0 0,29px 29px;
    text-align: center;
}

/* Textos */
.titulo-comparar{
    font-weight: 300;
    font-size: 48px;
    margin-top: 50px;
}

.textos{
    text-align: center;
    font-size: 24px;
    padding: 1rem;
}

p{
    font-weight: 300;
}

span{
    font-weight: 400;
}

/* Estilos de la tabla */
.contenedor-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1C2833;
    color: white;
    font-weight: 200;
    font-size: 22px;
}

tr{
    background-color:#E5E7E9;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #F8F9F9;
}

/* Boton volver */
.contenedor-botones{
    margin-top: 30px;
    margin-bottom: 50px;
}

.boton-volver{
    background-image: linear-gradient(to right bottom, #0a47a1, #0079be, #00a2b0, #4bc494, #c4de8a);
    padding: 1.5rem;
    border-radius: 12px;
    font-size: 22px;
    width: auto;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.boton-volver:hover{
    color: black;
    text-decoration: none;
}