/* Estilos generales del body */
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#868686 1.4500000000000002px, transparent 1.4500000000000002px), radial-gradient(#868686 1.4500000000000002px, #ffffff 1.4500000000000002px);
    background-size: 58px 58px;
    background-position: 0 0,29px 29px;
}

/* Estilo del titulo */
.titulo-pagina{
    font-size: 52px;
    text-align: center;
    font-weight: 300;
    margin-top: 100px;
}

/* Estilo de los botones */
.botones{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.botones button{
    padding: 1.5rem;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    background: rgb(129,171,44);
    background: linear-gradient(90deg, rgba(129,171,44,0.7819502801120448) 0%, rgba(139,168,80,0.7819502801120448) 100%);
    cursor: pointer;
}

.botones2{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.botones2 button{
    padding: 1.5rem;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    background: rgb(129,171,44);
    background: linear-gradient(90deg, rgba(129,171,44,0.7819502801120448) 0%, rgba(139,168,80,0.7819502801120448) 100%);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
    padding: 1.5rem;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    background: rgb(129,171,44);
    background: linear-gradient(90deg, rgba(129,171,44,0.7819502801120448) 0%, rgba(139,168,80,0.7819502801120448) 100%);
    cursor: pointer;
}

/* Estilos de los textos con informacion */
.textos{
    text-align: center;
    font-size: 24px;
}